{{ with .Site.Data.faqSection }}
{{ if .enable }}
<section class="section faq" id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="faq__header mb-5">
          <span class="top-title pre-line">{{ .topTitle }}</span>
          {{ .title | markdownify }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="faq-item-grid">
          {{ range (where $.Site.RegularPages "Type" "faq").Reverse }}
          <div class="faq-item col-6">
            <div class="faq-item-content">
              <h6>{{ .Params.service }}</h6>              
              <h3 class="mb-0">
                <a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a>
              </h3>
              </br>
              <p class="h4 text-black-50"> {{ .Params.whatQ | markdownify }} </p>
              <p> {{ .Params.whatAns | markdownify }} </p>
              <a class="see-more-btn" href="{{ .Permalink }}">Read More</a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
